# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
.ptanlys_venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# MyPy and other Python tooling
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Ignore large data folder
data/
results/
notebooks/
logs/
scripts/foo/fooo.py

# OS Files
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.tmp
*.temp

# Mac
.AppleDouble
.LSOverride